@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Letter Magic";
  font-weight: 400;
  src: url("/fonts/Letter Magic.ttf");
}

@font-face {
  font-family: "Austral";
  src: url("/fonts/Austral.otf");
}

@font-face {
  font-family: "Vcr";
  src: url("/fonts/Vcr.ttf");
}

@font-face {
  font-family: "Manaspace";
  font-weight: 400;
  src: url("/fonts/Manaspace.ttf");
}

@font-face {
  font-family: "Dosis Regular";
  font-weight: 400;
  src: url("/fonts/DosisRegular.ttf");
}

@font-face {
  font-family: "Fira Bold";
  font-weight: 400;
  src: url("/fonts/FiraCode-Bold.ttf");
}

@font-face {
  font-family: "Fira Regular";
  font-weight: 400;
  src: url("/fonts/FiraCode-Regular.ttf");
}

@font-face {
  font-family: "Internal Rainbows";
  font-weight: 400;
  src: url("/fonts/Internal Rainbows.otf");
}

@font-face {
  font-family: "Fira Medium";
  font-weight: 400;
  src: url("/fonts/FiraCode-Medium.ttf");
}

@font-face {
  font-family: "Bitblox";
  font-weight: 400;
  src: url("/fonts/Bitblox.otf");
}

@font-face {
  font-family: "Fira Light";
  font-weight: 400;
  src: url("/fonts/FiraCode-Light.ttf");
}

@font-face {
  font-family: "Liberation Mono";
  font-weight: 400;
  src: url("/fonts/LiberationMono-Regular.ttf");
}

@font-face {
  font-family: "Liberation Mono Bold";
  font-weight: 400;
  src: url("/fonts/LiberationMono-Bold.ttf");
}

@font-face {
  font-family: "FH Giselle Light";
  font-weight: 400;
  src: url("/fonts/FHGiselle-Light.ttf");
}

@font-face {
  font-family: "A Love of Thunder";
  font-weight: 400;
  src: url("/fonts/A Love of Thunder.ttf");
}

@font-face {
  font-family: "Futurist";
  font-weight: 400;
  src: url("/fonts/Futurist Fixed-width Regular.ttf");
}

@font-face {
  font-family: "Audimat";
  font-weight: 400;
  src: url("/fonts/AUdimat Regular.ttf");
}

@font-face {
  font-family: "Jack Lane";
  font-weight: 400;
  src: url("/fonts/jacklane_2.woff");
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #faf4e8;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.theme-cream {
  --mainBg: theme("colors.midWhite");
  --mainText: theme("colors.offBlack");
  --banner: theme("colors.offBlack");
  --diy: theme("colors.offBlack");
  --diyText: theme("colors.offWhite");
  --mevText: theme("colors.dull");
  --mevSlash: theme("colors.white");
}

.theme-blue {
  --mainBg: theme("colors.themB");
  --mainText: theme("colors.midWhite");
  --banner: theme("colors.offWhite");
  --diy: theme("colors.offBlack");
  --diyText: theme("colors.offWhite");
  --mevText: theme("colors.themHPT");
  --mevSlash: theme("colors.black");
}

.theme-dark {
  --mainBg: theme("colors.offBlack");
  --mainText: theme("colors.midWhite");
  --banner: theme("colors.offWhite");
  --diy: theme("colors.midWhite");
  --diyText: theme("colors.offBlack");
  --mevText: theme("colors.themHPT");
  --mevSlash: theme("colors.black");
}

.theme-green {
  --mainBg: theme("colors.themG");
  --mainText: theme("colors.offBlack");
  --banner: theme("colors.offBlack");
  --diy: theme("colors.offBlack");
  --diyText: theme("colors.offWhite");
  --mevText: theme("colors.dull");
  --mevSlash: theme("colors.white");
}

.theme-purple {
  --mainBg: theme("colors.themPU");
  --mainText: theme("colors.themPUT");
  --banner: theme("colors.themPU");
  --diy: theme("colors.offBlack");
  --diyText: theme("colors.offWhite");
  --mevText: theme("colors.dull");
  --mevSlash: theme("colors.white");
}

.theme-heart {
  --mainBg: theme("colors.themH");
  --mainText: theme("colors.themHT");
  --banner: theme("colors.themH");
  --diy: theme("colors.offBlack");
  --diyText: theme("colors.offWhite");
  --mevText: theme("colors.dull");
  --mevSlash: theme("colors.white");
}

.theme-plum {
  --mainBg: theme("colors.themP");
  --mainText: theme("colors.themPT");
  --banner: theme("colors.themP");
  --diy: theme("colors.offBlack");
  --diyText: theme("colors.offWhite");
  --mevText: theme("colors.themHPT");
  --mevSlash: theme("colors.white");
}

.theme-lime {
  --mainBg: theme("colors.themL");
  --mainText: theme("colors.themLT");
  --banner: theme("colors.themL");
  --diy: theme("colors.offBlack");
  --diyText: theme("colors.offWhite");
  --mevText: theme("colors.themHPT");
  --mevSlash: theme("colors.white");
}

.theme-sea {
  --mainBg: theme("colors.themS");
  --mainText: theme("colors.themST");
  --banner: theme("colors.themS");
  --diy: theme("colors.offBlack");
  --diyText: theme("colors.offWhite");
  --mevText: theme("colors.themHPT");
  --mevSlash: theme("colors.black");
}

.theme-hot {
  --mainBg: theme("colors.themHP");
  --mainText: theme("colors.themHPT");
  --banner: theme("colors.themHP");
  --diy: theme("colors.offBlack");
  --diyText: theme("colors.offWhite");
  --mevText: theme("colors.white");
  --mevSlash: theme("colors.black");
}

#world {
  background: -webkit-linear-gradient(
    -86deg,
    #f8f5e6,
    #e7b97b,
    #fff1cf,
    #fdfedd
  );
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.16rem transparent;
  color: #131313;
}

@media (max-width: 640px) {
  #world {
    -webkit-text-stroke: 0.06rem transparent;
  }
}

#digi {
  background: linear-gradient(
    -86deg,
    #f8f5e6,
    #f9d78d,
    #e7b97b,
    #fff1cf,
    #fdfedd
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#code {
  background: linear-gradient(
    -86deg,
    #f8f5e6,
    #f9d78d,
    #e7b97b,
    #fff1cf,
    #fdfedd
  );
  -webkit-background-clip: text;
  color: transparent;
}

#foot1 {
  background: rgb(247, 212, 242);
  background: linear-gradient(
    180deg,
    rgba(247, 212, 242, 1) 6%,
    rgba(2, 0, 36, 1) 17%,
    rgba(105, 178, 207, 1) 27%,
    rgba(9, 9, 121, 1) 37%,
    rgba(251, 252, 254, 1) 48%,
    rgba(0, 212, 255, 1) 57%,
    rgba(1, 34, 237, 1) 65%,
    rgba(0, 212, 255, 1) 74%,
    rgba(108, 227, 214, 1) 83%,
    rgba(0, 212, 255, 1) 93%,
    rgba(246, 248, 244, 1) 100%
  );
}

#foot2 {
  background: rgb(224, 32, 32);
  background: linear-gradient(
    180deg,
    rgba(224, 32, 32, 1) 6%,
    rgba(250, 101, 0, 1) 19%,
    rgba(247, 181, 0, 1) 35%,
    rgba(109, 212, 0, 1) 50%,
    rgba(0, 145, 255, 1) 68%,
    rgba(98, 54, 255, 1) 83%,
    rgba(182, 32, 224, 1) 100%
  );
}

#foot3 {
  background: rgb(248, 245, 230);
  background: radial-gradient(
    circle,
    rgba(248, 245, 230, 1) 0%,
    rgba(255, 241, 206, 1) 17%,
    rgba(253, 254, 221, 1) 33%,
    rgba(249, 215, 141, 1) 53%,
    rgba(244, 198, 167, 1) 73%,
    rgba(238, 192, 146, 1) 86%,
    rgba(255, 219, 150, 1) 100%
  );
}

#static {
  margin: auto;
  background-image: url(https://i.stack.imgur.com/uzEM4.png);
  animation: anim 1s steps(2, end) infinite both;
  transform: translate3d(0, 0, 0);
}

#circle {
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.05rem black;
}

#static2 {
  margin: auto;
  background-image: url(https://i.stack.imgur.com/uzEM4.png);
  display: flex;
  animation: anim2 1s steps(2, end) infinite both;

  transform: translate3d(0, 0, 0);
}

#crt {
  background: linear-gradient(to right, #fc9cf3, #b9d9ff, #0091ff, #99fdc1);
}

@keyframes anim {
  0% {
    background-position: 0% 0%;
  }
  10% {
    background-position: -25% 25%;
  }
  20% {
    background-position: 30%, -25%;
  }
  30% {
    background-position: -25% 25%;
  }
  40% {
    background-position: 40% -50%;
  }
  50% {
    background-position: 25% 70%;
  }
  60% {
    background-position: 60% 80%;
  }
  70% {
    background-position: 30% 50%;
  }
  80% {
    background-position: 30%, -25%;
  }
  90% {
    background-position: 0% 70%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes anim2 {
  0% {
    background-position: 0% 0%;
  }
  10% {
    background-position: -45% -25%;
  }
  20% {
    background-position: -70%, -25%;
  }
  30% {
    background-position: -25% 25%;
  }
  40% {
    background-position: -40% -50%;
  }
  50% {
    background-position: -25% 70%;
  }
  60% {
    background-position: 80% -80%;
  }
  70% {
    background-position: -20% -50%;
  }
  80% {
    background-position: -30%, -25%;
  }
  90% {
    background-position: 0% -70%;
  }
  100% {
    background-position: 100% 100%;
  }
}

#one {
  background-color: #befd4e;
}

#two {
  background-color: #3c29e7;
}

#three {
  background-color: #feff4e;
}

#four {
  background-color: #cc0056;
}

#five {
  background-color: #b52a96;
}

#six {
  background-color: #bbeeff;
}

#seven {
  background-color: #2a3940;
}

#eight {
  background-color: #7a534e;
}

#nine {
  background-color: #fcdba1;
}

#ten {
  background-color: #f8a3f7;
}

#eleven {
  background-color: #00ff00;
}

#twelve {
  background-color: #4251ff;
}

#thirteen {
  background-color: #faff1b;
}

#fourteen {
  background-color: #cc0056;
}

#fifteen {
  background-color: #b52a96;
}

#sixteen {
  background-color: #bbeeff;
}

#seventeen {
  background-color: #2a3940;
}

#eighteen {
  background-color: #7a534e;
}

#nineteen {
  background-color: #fcdba1;
}

#library::-webkit-scrollbar {
  width: 1vw;
}

#library::-webkit-scrollbar-track {
  background-color: #131313;
}

#library::-webkit-scrollbar-thumb {
  background-color: #ffdcff;
}

#crt {
  background: linear-gradient(to right, #fc9cf3, #b9d9ff, #0091ff, #fd99dc);
}

#username {
  background: linear-gradient(
    -86deg,
    #000000,
    #8dc6f9,
    #7b7fe7,
    #2a42fc,
    #000000
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sideProfile {
  background: linear-gradient(to right, transparent, white, #44afd3);
}

#buttons:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.2);
  filter: blur(5px);
}

#videoplayer {
  background-image: url("https://thedial.infura-ipfs.io/ipfs/QmekpQQEtQBP1M71SohCHiDRQbV1Sc2bKveVvwEfzAJCPx");
  background-color: white;
  background-position: center;
  background-size: cover;
}

#videoplayer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.2);
  filter: blur(5px);
}

#record1 {
  background: radial-gradient(#fc9cf3, #b9d9ff, #0091ff, #99fdc1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.frame {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.expand {
  position: relative;
  display: flex;
  justify-items: start;
  grid-row-start: 1;
  grid-column-start: 1;
  width: fit-content;
  height: fit-content;
  rotate: -90;
  cursor: pointer;
}

.close {
  position: relative;
  display: flex;
  justify-items: end;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
}

input[type="range"] {
  background-color: black;
  outline: none;
  -webkit-appearance: none;
  border-color: white;
  border-width: 1px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: black;
  border-radius: 3px;
  height: 5px;
  border-color: white;
  border-width: 1px;
}

input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ffc800;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type="range"]::-moz-range-track {
  background: black;
  border-radius: 3px;
  height: 5px;
  border-color: white;
  border-width: 1px;
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ffc800;
  cursor: pointer;
}

input[type="range"]::-moz-range-progress {
  background: #ffc800;
  border-radius: 3px;
  height: 5px;
}

input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
  height: 5px;
}

input[type="range"]::-ms-fill-lower {
  background: #ffc800;
  border-radius: 3px;
  height: 5px;
}

input[type="range"]::-ms-fill-upper {
  background: black;
  border-radius: 3px;
  height: 5px;
}

input[type="range"]::-ms-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #3694ff;
  cursor: pointer;
}

input:focus {
  outline-color: #b620e0;
}

#scrollMicro::-webkit-scrollbar {
  width: 1vw;
  height: 2px;
}

#scrollMicro::-webkit-scrollbar-track {
  background-color: #131313;
}

#scrollMicro::-webkit-scrollbar-thumb {
  background-color: #b620e0;
}

#backdrop:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.2);
  filter: blur(5px);
}

#raincode {
  background: linear-gradient(#fc9cf3, #b9d9ff, #0091ff, #fd99dc) !important;
}

#hozScroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#hozScroll::-webkit-scrollbar-track:active {
  background-color: transparent !important;
}

#hozScroll::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}

.infinite-scroll-component__outerdiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

#staticLoad {
  background-image: repeating-radial-gradient(
    circle at 18% 36%,
    #d401f8,
    #f9ed00 1.8px
  );
  animation: back 10s linear infinite;
}

#game {
  box-shadow: inset 0 0 100px rgba(0, 0, 255, 0.5);
}

#explainerBg {
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #1c24ff6a 1px, transparent 1px),
    linear-gradient(to bottom, #1c24ff6a 1px, transparent 1px);
  background-size: 20px 20px;
}

#noCode {
  background-image: linear-gradient(
    to bottom,
    #e3e1ee,
    #e3e1ee,
    #f7fff0,
    #89eff5,
    #23fefc,
    #2b90fd,
    #341cfe,
    #341cfe,
    #341cfe
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

#pfp {
  background: linear-gradient(#fc9cf3, #b9d9ff, #0091ff, #fd99dc);
}

#tileSearch::-webkit-scrollbar {
  width: 0px;
  opacity: 0; /* Initially hide the scrollbar */
}

#tileSearch:hover::-webkit-scrollbar {
  opacity: 0; /* Show the scrollbar on hover */
}

#tileSearch::-webkit-scrollbar-track {
  background-color: transparent;
}

#tileSearch::-webkit-scrollbar-thumb {
  background-color: transparent;
}
